@import "footer.css";

body {
    font-family: Arial;
    margin: 0;
  }
  :root{
    --btnWidth:6rem;
    --btnHeight:2rem;
    --btnBgcolor:#12486B
  }
  .navbar {
    /* background-color: hsl(212, 17%, 85%); */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 15px 0;
    /* position: fixed; */
    width: 100%;
    height: 3rem;
    display: flex;
    margin-bottom: 0.5rem;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
  
    font-weight: bold;
    color: #ECF0F1;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .logo img{
      margin: 0 1rem;
      width: 5.5rem;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    /* color: #ECF0F1; */
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .nav-links a:hover {
    color: #3498DB;
  }
  
  #slider_section{
    background-image:url(https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8eW9nYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60); /* Add your background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .slider_div p {
    font-size: 1.5em;
    margin-bottom: 80px;
  }

  .feature_sec{
    width: 100%;


  }
  .feature_sec h1{
     text-align: center;    
  }
  .feature_cont{
      
      padding: 1rem;
      margin: 1rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
     
  }
  .feature_div{
      width: 15rem;
      display: flex;
      margin: 1rem;
      flex-direction: column;
      align-items: center;
      padding: 0.2rem;
      /* border: 2px solid rgba(0,0,0,0.3); */
      box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
      transition: all 0.5s ease;
  }
  .feature_div:hover{
    transform: scale(1.05);
  }
  
  .feature_div .div1{
    height: 60%;
  }
  .feature_div .div1 img{
    width: 100%;
    height: 100%;
  }
  .feature_div .div2{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

  }
  .feature_div .div2 button{
    width: var(--btnWidth);
    height: var(--btnHeight);
    cursor: pointer;
    background-color: var(--btnBgcolor);
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border: none;

  }