
@import 'footer.css';
*{
    padding: 0; 
    margin: 0; 
    /* box-sizing: border-box; */
    font-family: sans-serif;
    border: none;

}

/* body{
      width: 100%;
      height: 100vh;
      background-size: 100% 100vh;
      position: relative;
      background-repeat: no-repeat;
      background-image: url('images/contact us.jpg');

} */
.contact_sec{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}
.contact_sec header{
       text-align: center;
       width: 75%;
       left: 12%;
       top: 2rem;
}
.contact_sec header h1{
       font-size: 2rem;
}

.content{
    display: flex;
    justify-content:center;
     width: 100%;
    flex-wrap: wrap;
}
.content_detail section{
    margin: 4rem;
}
.content_detail{
 
    width: 50%;
}
section i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    color: #000;
    text-align: center;
}
form{
    width: 50%;
    padding:1.5rem 2.5rem;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 1rem;
}
.formBox{
    display: flex;
    width: 100%;
    flex-direction: column;
    
}
.formBox input{
    width: 40vw;
    background-color: transparent;
   
    border: transparent;
    outline: none;
    margin: 1.2rem;
    /* padding: 1.4rem; */
    font-size: 0.8rem;
    border-bottom: 2px solid ;
}
.formBox label{
    margin: 1.2rem;
}
.formBox input ~label{
    
    transition: 0.9s ease-in-out;
    margin-top: 1rem;
}
.formBox input:focus ~label{
    transform: translateY(-20px);
    pointer-events: none;
}
.formBox textarea{
    width: 40vw;
    height: 5rem;
    outline: none;
    margin: 20px;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 2px solid;
}
.formBox textarea ~label{
    left: 1.1rem;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.formBox textarea:focus ~label{
    transform: translateY(-20px);
    pointer-events: none;
}
.formBox input[type=submit]{
    background-color:#12486B ;
    color: #fff;
    width: 22%;
    font-size: 2vh;
    height: 2.3rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.formBox input[type=submit]:hover{
    background-color: transparent;
    color: black;
    border: 2px solid #12486B;
}
.media{
  
   width: 100%;
  display: flex;
  justify-content: center;

}
.media ul{
    display: flex;
}
.media ul li{
    list-style: none; 
    margin: 2rem 3rem
}