<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admindashboard.css">
</head>
<body>
    <h1 style="text-align: center;">Fitbucket admin dashboard</h1>
    <section class="adminDash_sec">
        
         <div class="assideDiv">
                <h3>General</h3>
                <ul>
                    <li>Dashboard</li>
                    <li>Setting</li>
                </ul>
         </div>
         <div class="dataDiv">
           
            <h3>Here is the list of registered users on fitbucket</h3>
             <div class="userlistDiv">
                <% userData.forEach((elem,ind)=>{ %>
                    <div class="userDetailDiv">
                        <h3>User <%= ind+1%></h3>
                        <hr>
                       <h4> <%=elem.name%></h4>
                       <h4> <%=elem.email%></h4>
                       <form action="/admin/dashboard/delete/<%=elem._id%>" method="post">
                         <button>remove</button>
                       </form>
                    </div>
                <%  })%>
             </div>
         </div>

    </section>
</body>
</html>