<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/adminlogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<body>
    <p >
        <a style="color: #fff; text-decoration: none; margin-left: 2rem;" href="/">
            <i style="margin:0 0.3rem;" class="fa-solid fa-backward"></i>home
        </a>
    </p>
    <section class="adminSec">
        <h1>Admin Login</h1>
        <%
          if(typeof message !=="undefined"){
        %>
        <h3><%= message %></h3>
       <%
          }
        %>
        <form action="/admin" method="post">
            <label for="">Email</label>
            <br>
            <input  required placeholder="enter email" type="text" name="email" id="">
            <br><br>
            <label for="">Password</label>
            <br>
            <input required placeholder="enter password" type="password" name="password" id="">
            <br>
            <br>
            <button>Login</button>
        </form>
        <div><br> <br>
            <span>User login : </span>
            <a href="/userAuth/login" style="color:#FD643D">Login</a> <br>
        </div>
    </section>
    

</body>
</html>