<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admindashboard.css">
</head>
<body>
    <section class="adminDash_sec">
         <div class="assideDiv">

         </div>
         <div class="dataDiv">
            <h1>Welcome to admin dashboard</h1>
             <div class="userlistDiv">
                <div>user 1</div>
                <div>user 1</div>
                <div>user 1</div>
                <div>user 1</div>
                <div>user 1</div>
             </div>
         </div>

    </section>
</body>
</html>