<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <img  src="assets/fit_logo.png" alt="">
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/askquery">Fit Q&A</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/task">Tasks</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <div style="width: 15rem;">
                    <span  style="padding:1rem 1.2rem;color:orange; font-weight: bold; display: inline-block;"><%=name%> </span>
                    <%if(name){%>
                        <a href="/userAuth/logout" ><button class="signupBtn">logout</button></a>
                    <%}else{%>
                    <a href="/userAuth/login"><button class="signupBtn">login</button></a>
                    <%}%>
                    <a href="/userAuth/signup"><button class="signupBtn">Signup</button></a>
                </div>
              
                <button id="sidebarBtn" onclick="sidebar_open()">☰</button>
            </div>
        </nav>
        <div id="mySidebar">
            <button onclick="sidebar_close()">Close &times;</button>
            <a href="/">Home</a>
            <a href="/askquery">Fit Q&A</a>
            <a href="/blogs">Blog</a>
            <a href="/task">Tasks</a>
            <a href="contact">Contact Us</a>
          </div>
    </header>

    <section id="slider_section">
        <div class="slider_div">
            <h1>Welcome to <span style="color: rgb(250, 164, 6);">Fit Bucket</span></h1>
            <p>Your path to a healthier, stronger you!</p>
        </div>
    </section>

        <section class="feature_sec">
            <h1>Features</h1>
            <div class="feature_cont">
                    <div class="feature_div">
                         <div class="div1">
                              <img src="assets/blogimg.jpg" alt="">
                         </div>
                         <div class="div_detail">
                            <p>Read and write fitness related blogs..</p>
                        </div>
                         <div class="div2">
                                <h3>Read fitness blogs</h3>
                                <a href="/blogs">
                                    <button>Go</button>
                                </a>
                         </div>
                    </div>
                    <div class="feature_div">
                        <div class="div1">
                             <img src="assets/slideImg2.jpg" alt="">
                        </div>
                        <div class="div_detail">
                                <p>Complete fitness task as per your preference</p>
                        </div>
                        <div class="div2">
                               <h3>Complete fitness task</h3>
                               <a href="/task">
                                <button>Go</button>
                               </a>
                        </div>
                   </div>
                   <div class="feature_div">
                    <div class="div1">
                         <img src="assets/dietimgjpg.jpg" alt="">
                    </div>
                    <div class="div_detail">
                        <p>Check nutritional values of different food items</p>
                    </div>
                    <div class="div2">
                           <h3>Check nutritional values</h3>
                           <a href="/diet">
                            <button>Go</button>
                           </a>
                    </div>
               </div>
              
           
           
            <!-- <div class="feature_div">
                <div class="div1">
                    <img src="images/calcImg.jpg" alt="">
                </div>
                <div class="div2">
                    <h3>Calculate BMI</h3>
                    <a href="/">
                        <button>Go</button>
                    </a>
                </div>
            </div> -->


        </div>
    </section>


    <section class="bmiSection">
        <h1>Calculate BMI</h1>
        <div class="home-wrapper">
            <p>Height in CM:
                <input  placeholder="enter height" class="bmi-input" type="number" id="bmi-height"><br><span class="bmi-span"
                    id="height_error"></span>
            </p>
            <p>Weight in KG:
                <input placeholder="enter weight" class="bmi-input" type="number" id="bmi-weight"><br><span class="bmi-span"
                    id="weight_error"></span>
            </p>
            <button class="bmi-button" id="home-btn">Calculate</button>
            <p id="home-output"></p>
        </div>
    </section>

    <br>
    <br>

    <!-- -----------(footer)---------- -->
    <%- include('footer')%>
    
    <script src="./js/home.js"></script>
    <script type="text/javascript" src="./js/vanilla-tilt.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".feature_div"), {
            max: 25,
            speed: 200
        });
    </script>
</body>

</html>