<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reply.css">
</head>
<body>
    <section class="replyPageSec">
        <h1>Replies</h1>
       <div>
        <%  replyData.forEach((elem)=>{ %>
            <ul>
                
                <h3><img  style="width: 2rem; border-radius: 50%;" src="/assets/profile_logo.jpeg" />  <%=elem.userName%></h3>
                <li><%=elem.reply%></li>
                <form action="/askquery/reply/delete/<%=elem._id%>" method="post">
                   <%if(elem.userName==uname){%>
                    <button style="display: inline;">delete</button>
                    <%}%>
                </form>
            
            </ul>
        <% }) %>
       </div>
       
    </section>
</body>
</html>