<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conatct Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/sampark_kare.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body >
    <%- include('header')%>

    <!-- --------------(navbar end)-------------------- -->

    <section class="contact_sec">
        <header>
            <h1>Contact us</h1>
           
            <br>
            <p>You can contact us for any fitness related queries by filling the form below with correct details</p>
            <br>
        </header>
        <div class="content">
            
       <main>
        <form action="/contact" class="formBox" method="post">

                  <label>Full Name</label>
                  <input name="name" placeholder="enter name" type="text" required>
               
                  <label>Email id</label>
                  <input name="email" placeholder="enter email" type="email" required>
                  <label>Enter your Message...</label>
                  <textarea  placeholder="enter your message.." name="message"></textarea>
                  <button class="formBtn">submit</button>
        </form>
       </main>

        </div>
    
    </section>   
    
     <!----------------- footer_code -------------->

     <%- include('footer')%>
    <script src="./js/home.js"></script>
</body>
</html>