<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<body>
    <p >
        <a style="color: #fff; text-decoration: none; margin-left: 2rem;" href="/">
           <i style="margin:0 0.3rem;" class="fa-solid fa-backward"></i>home
       </a>
     </p>
      <section class="signup_sec">
          <h1>Register here...</h1>
          <p style="color: #32cd32;"><%=message%></p>
            <form action="/userAuth/signup" method="post">
                    <label for="">Name</label><br> 
                    <input name="name" placeholder="enter name" type="text">
                    <br>
                    <label for="">Email</label><br> 
                    <input name="email" placeholder="enter email" type="text" name="" id="">
                    <br> 
                    <label for="">Password</label><br> 
                    <input name="password" placeholder="enter password" type="password" name="" id="">
                    <br>
                    <br>
                    <button class="">Signup</button>
            </form>
                <br><br>
            <div>
                <span>Admin login : </span>
                 <a href="/admin" style="color:#FD643D">Login</a> <br><br>
                <span>User login : </span>
                 <a href="/userAuth/login" style="color:#FD643D">Login</a>
            </div>
      </section>
</body>
</html>