<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/task1.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <img src="/assets/fit_logo.png" alt="">
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/askquery">Fit Q&A</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/task">Tasks</a></li>
                    <li><a href="/sampark">Contact Us</a></li>
                </ul>
                <button id="sidebarBtn" onclick="sidebar_open()">☰</button>
            </div>
        </nav>
        <div id="mySidebar">
            <button onclick="sidebar_close()">Close &times;</button>
            <a href="/">Home</a>
            <a href="/askquery">Fit Q&A</a>
            <a href="/blogs">Blog</a>
            <a href="/task">Tasks</a>
            <a href="/sampark">Contact Us</a>
        </div>
    </header>
    <main class="taskBody">
        <section class="taskBgImg">
            <img src="/assets/gainLogo2.png" alt="">
        </section>
          <section class="taskDescription">
            <h3>Weight Gain</h3>
                <p>In this fitness challenge of weight gain you will have to follow proper Workout and recommended Diet
                    plan to get the results accordingly. It is recommended to follow this for atleast 30 days to reflect quick changes in 
                    your body.
                </p>
          </section>
          <section class="taskSchedule_sec">
                <h1>Follow these steps daily</h1>
                <div class="taskSchedule_div">
                        <div class="taskBar">
                            <p class="taskNum">1</p>
                             <h4>Improve digestion</h4>
                             <ul>
                                <li>Eat fruits and vegetables</li>
                                <li>Drink warm water in the morning by adding amla juice</li>
                                <li>Eat fibre rich food like grams, dry fruits etc.</li>
                                <li>Drink atleast 4-5 litres of water daily</li>
                             </ul>

                        </div>
                        <div class="taskBar">
                            <p class="taskNum">2</p>
                            <h4>Daily workouts</h4>
                            <p>Do daily fitness workout to gain weight</p>
                            <button class="seeDemoBtn">See demo videos</button>
                            <div class="taskVideoBox">
                                <div>
                                    <h1>Jumping jacks</h1>
                                    <p>2 sets for 30 sec</p>
                                    <video autoplay loop src="/assets/jumpJack.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>pushups</h1>
                                    <p>3 sets with 12 reps</p>
                                    <video autoplay loop src="/assets/pushups.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>Inclined Pushups</h1>
                                    <p>3 sets with 6 reps</p>
                                    <video autoplay loop src="/assets/inclinedPush.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>Squats</h1>
                                    <p>1 set with 12 reps</p>
                                    <video autoplay loop src="/assets/squats.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>Triceps dips</h1>
                                    <p>3 set with 6 reps</p>
                                    <video autoplay loop src="/assets/tricepsDips.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>Side hops</h1>
                                    <p>2 set for 30 sec</p>
                                    <video autoplay loop src="/assets/sideHop.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>Rhomboid squeezes</h1>
                                    <p>2 sets with 12 reps</p>
                                    <video autoplay loop src="/assets/rhomboSqueez.mp4">
                                    </video>
                                </div>
                                <div>
                                    <h1>Declined pushups</h1>
                                    <p>1 set with 12 reps</p>
                                    <video autoplay loop src="/assets/declinePush.mp4">
                                    </video>
                                </div>
                             
                             
                            </div>

                       </div>
                       <div class="taskBar">
                        <p class="taskNum">3</p>
                        <h4>Diet And Sleep</h4>
                       
                        <ul>
                           <li>Take more and more calories than usual</li>
                           <li>Take protein rich and carbohydrate rich food items</li>
                           <li>Take atleat 7-8 hrs of sleep</li>
                           

                        </ul>
                        <button class="seeDietBtn">Detailed Diet plan</button>

                   </div>
                        
                </div>
          </section>

    </main>
  
      <!-- ------------(footer)------------------- -->

    <footer>
        <div id="footer-content">

            <div class="footerlogo">
                <img src="/assets/fit_logo.png" alt="logo">
                <p>
                    <i class="fa-regular fa-copyright" style="color: #b3b3b3;"></i>
                    Fit Bucket 2023
                </p>
            </div>

            <div>
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/task">Tasks</a></li>
                    <li><a href="/sampark">Contact Us</a></li>
                </ul>
            </div>
        </div>

    </footer>
</body>
<script>
    let seeDemoBtn=document.querySelector('.seeDemoBtn')
    let taskVideoBox=document.querySelector('.taskVideoBox')
    let flag=true;
    seeDemoBtn.addEventListener("click",(e)=>{
       if(flag){
        taskVideoBox.style.height="unset"
        seeDemoBtn.innerText="Hide demo videos"
       }else{
        taskVideoBox.style.height="1rem"
        seeDemoBtn.innerText="See demo videos"
       }
       flag=!flag
    })
</script>
</html>