@import url('home.css');
.adminDash_sec{
    width: 100%;
    padding:2rem 0;
    display: flex;
    box-sizing: border-box;
}
.assideDiv{
    width: 20%;
    border: 2px solid;
}
.dataDiv{
    width: 80%;
    padding: 1rem 0;

    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.userlistDiv{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    width: 85% ;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.userDetailDiv{
    width: 16rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid rgba(0,0,0,0.3);
}
.userDetailDiv button{
   width: var(--btnWidth);
   height: var(--btnHeight);
   cursor: pointer;
}