@import url('home.css');
.adminDash_sec{
    width: 100%;
    padding:2rem 0;
    display: flex;
    background-color:var(--bdColor);
    color: var(--primColor);
    box-sizing: border-box;
}
.sidebarToggle{
    position: absolute;
    left: 1rem;
    top: 15rem;
    display: none;
}
.x_mark{
    display: none;
}
.assideDiv{
    width: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* border: 2px solid; */
     color: var(--primColor);
    background-color: var(--boxColor);
    margin-right: 0.5rem;
}
.assideDiv ul li{
    margin: 1rem 0;
    cursor: pointer;
    list-style-type: none;

}
.dataDiv{
    width: 80%;
    padding: 1rem 0;
    scroll-behavior: smooth;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.userlistDiv{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    width: 91% ;
    padding: 2rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    background-color: #181818;
}
.userDetailDiv{
    width: 16rem;
    height: 12rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #fff;
    padding: 1rem;
    border: 2px solid rgba(0,0,0,0.3);
    background-color: #272727;
}

.userDetailDiv button{
   width: var(--btnWidth);
   height: var(--btnHeight);
   cursor: pointer;

}
.userDetailDiv button:hover{
    background-color: var(--secColor);
    color: #fff;
    border: none;
}

.total_register_div{
  border: 2px solid #272727;
  border-radius: 1rem;
  display: flex;
  padding: 0.5rem;
}


#blogsSection{
    color: #fff;
    margin-top: 2rem;
    scroll-behavior: smooth;

    /* border: 2px solid red; */
}
.blog_stats h3{
    font-size: 1rem;
}
.blogContainer{
    padding: 1rem;
}
.innerBlogDiv{
    padding: 2rem 0;
    width: 100%; 
    border: 1px solid #272727;
     margin: 1rem 0;

}
.blogContainer:nth-child(1) div{
    margin: 1rem 0;
    

}

.contactmsgSec{
     width: 100%;
     /* border: 2px solid red; */
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #fff;
     background-color: #111111;
     border-bottom: 1px solid #fff;
     border-top: 1px solid #fff;

}
.contactmsgDiv1{
   
}
.contactmsgDiv2{
    width: 90%;
    padding: 1rem;
}
.contactmsgDiv2 div{
    margin: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #272727;
    gap: 1rem;
    position: relative;
}
.contactmsgDiv2 div p{
    background-color: #181818;
    padding: 1rem;
    border-radius: 1rem;
}
@media (max-width:720px) {
    .assideDiv{
      position: fixed;
      height: 110vh;
      top: 0rem;
      left: -12rem;
      width: 30%;
      z-index: 3;
     
    }
    .adminDash_sec{
        justify-content: center;
    }
    .total_register_div h3{
        font-size: 1rem;
    }
    .dataDiv{

    }
    .sidebarToggle{
      display: unset;
      position: fixed;
      z-index: 4;
      top: 1rem;
    }
    #x_mark{
        display: none;
    }
    .blog_stats h3{
        font-size: 0.8rem;
        border: 1px solid #272727; 
        border-radius: 1rem;
    }
}

@media (max-width:450px) {
    .dataDiv{
        width: 90%;
        padding: 1rem 0;
    
    }
    .userlistDiv{
        width: 100% ;
        justify-content: center;
    }
    .userDetailDiv{
        width: 14rem;
        height: 12rem;
    }
    .assideDiv{
        width: 44%;
    }
}