@import url('home.css');
.adminSec{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--primColor);
}
.adminSec h3{
    background-color:rgb(241, 99, 99);
    padding: 1rem;
    width: 50%;
    border-radius: 0.5rem;

}
.adminSec form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border:1px solid rgba(0,0,0,0.3);
    height: 16rem;
    padding: 3rem 1rem;
    background-color: var(--boxColor);
}

.adminSec form input{
    width: 80%;
    height: 2rem;
}

.adminSec form button{
    width: var(--btnWidth);
    background-color: var(--secColor);
    color: #fff;
    height: 2rem;
    cursor: pointer;
    border: none;
}

.adminSec form button:hover{
   background-color: var(--bgColor);
   border: 2px solid var(--secColor);
}

@media (max-width:720px){
    .adminSec form{
        width: 80%;
    }
}

@media (max-width:480px){
    .adminSec form{
        width: 100%;
        border-radius: 1rem;
    }
}