@import './home.css';

/* * {
    
    box-sizing: border-box;
} */

/* 
body {
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    font-size: 1.4rem;
    font-family: sans-serif;
} */

.mainBlog{
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    margin: 1.5rem auto;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.08rem;
    color: var(--primColor);
}

.mainDiv {
    max-width: 1200px;
    max-height: 1860px;
    overflow: hidden;
}

#img1 {
    height: 250px;
}

.card {
    display: flex;
    margin: 2rem 0;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.8);
    align-items: center;
    border: 1px solid #e2e2e2;
    /* border-radius: 0.5rem;
    overflow: hidden; */
}

.card-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.status {
    display: flex;
    justify-content: space-between;
}

.read-btn {
    all: unset;
    padding: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    /* border-bottom: 1px solid transparent; */
}

.read-btn:hover {
    border: 1px solid var(--secColor);
}

.centerloadMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.loadMoreBtn {
    color: #fff;
    width: var(--btnWidth);
    height: var(--btnHeight);
    background-color: var(--secColor);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s ;
}

.loadMoreBtn:hover {
    border: 2px solid var(--secColor);
    background-color:var(--bgColor);
    color: var(--primColor);
    transform: scale(1.1);
}


/* post.html */

.post-main {
    max-width: 1200px;
    margin: 1.5rem auto;
}

.blogHeading{
    font-size: 3rem;
    text-align: center;
}

.post-main hr {
    margin: 3rem 0;
}

.banner_img img {
    width: 100%;
}

.about-author p{
    text-align: center;
    font-size: 1.6rem;
}

.post-article {
    margin-bottom: 2rem;
    letter-spacing: 0.06rem;
}


/* comment section */

.commentBox {
    width: 60%;
    margin: 8rem 0;
    margin-left: 20%;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 1px rgba(221, 221, 221, 1);
    border-radius: 0.5rem;
}

.commentBox p{
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: 0.1rem;
}

.commentForm input, .commentForm textarea {
    margin: 1rem 0;
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    border: 1px solid #c0bebe;
}

.commentForm button {
    line-height: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.2rem;
}

.commentForm button:hover{
    background-color: #ccc;
}