@import './home.css';



.mainBlog{
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    margin: 1.5rem auto;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.08rem;
    color: var(--primColor);
}

.mainDiv {
    max-width: 1200px;
    /* max-height: 1860px; */
    overflow: hidden;
}

#img1 {
    height: 250px;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.8);
    align-items: center;
    border: 1px solid #e2e2e2;
    /* border-radius: 0.5rem;
    overflow: hidden; */
}

.card-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blogHeadline{
    background-color: #272727;
    padding: 1.5rem 1rem;
    white-space: pre-wrap;
    width: 32rem;
    max-height:10rem ;
    overflow: hidden;
}

.status {
    display: flex;
    /* border: 2px solid; */
    width: 34rem;
    justify-content: space-between;
}

.read-btn {
    all: unset;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    /* border-bottom: 1px solid transparent; */
}

.read-btn:hover {
    border: 1px solid var(--secColor);
}

.centerloadMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.loadMoreBtn {
    color: #fff;
    width: var(--btnWidth);
    height: var(--btnHeight);
    background-color: var(--secColor);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s ;
}

.loadMoreBtn:hover {
    border: 2px solid var(--secColor);
    background-color:var(--bgColor);
    color: var(--primColor);
    transform: scale(1.1);
}


/* ------------------(post.ejs)------------------ */

.post-main {
    max-width: 1200px;
    margin: 1.5rem auto;
    color: var(--primColor);
}

.blogHeading{
    font-size: 3rem;
    text-align: center;
}

.post-main hr {
    margin: 3rem 0;
}
.post_detail_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}
.banner_img{
    display: flex;
    justify-content: center;
}
.banner_img img {
    width: 90%;
    height: 30rem;
    object-fit: cover;
}

.about-author p{
    text-align: center;
    font-size: 1.6rem;
}

.post-article {
    margin-bottom: 2rem;
    letter-spacing: 0.06rem;
}


/* comment section */
