@import "footer.css";

*{
    margin: 0;
    padding: 0;
   
}
:root {
    --trans:all 0.5s ease;
}
:root {
    --trans:all 0.5s ease;
}
.popupSec{
    width: 100%;
    display: flex;
    justify-content: center;
}
.replyPopup{
   width: 45%;
   border: 1px solid rgba(0,0,0,0.3);
   border-radius: 0.6rem;
   height: 17rem;
   top: -20rem;
   background-color: #191919;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: var(--trans);
   z-index: 2;
   margin: 0 auto;
}
.replyPopup form{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.replyPopup form input{
    width: 60%;
    height: 2rem;
    margin: 1rem;
}
.replyPopup form textarea{
    width: 60%;
    height: 4rem;
    margin: 1rem;
}
.replyPopup button{
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    transition: var(--trans)
}
.replyPopup button:hover{
    border-radius: 1rem;
    border: none;
    
    color: #fff;
}

.chat_sec{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primColor);
}
.chat_inp.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}
.chat_sec h1{
    padding: 1rem;
    text-align: center;

}
.chat_inp{
   
    border: 1px solid rgba(0,0,0,0.25);
    width: 70%;
    margin: 1rem;
    background-color: var(--boxColor);
}
.chat_inp_form{
    width: 100%;
}
.chat_inp_form textarea{
    height: 5rem;
    width: 80%;
    margin: 1rem ;
    outline-color: var(--secColor);
    border-radius: 0.4rem;
    border:2px solid ;
    /* background-color: #242424; */
    /* background-color: rgba(0, 0, 0,0.1); */
    padding: 0 1rem;
}
.chat_inp_form input{
    height: 2rem;
    width: 80%;
    margin: 1rem ;
    outline-color: var(--secColor);
    border-radius: 0.4rem;
    border:2px solid ;
    /* background-color: rgba(0, 0, 0,0.1); */
    padding: 0 1rem;
}
.chat_inp_form button{
    margin:0.5rem 1rem;
    width: 4rem;
    border-radius: 0.4rem;
    border: none;
    height: 2.1rem;
    cursor: pointer;
    background-color:var(--secColor);
    color: #fff;
}
.chat_box{
    /* border: 1px solid rgba(0,0,0,0.4); */
    width: 80%;
    padding: 1rem;
    box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
  

}


.query_box{
    border: 1px solid rgba(0,0,0,0.4);
    width: 90%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: var(--boxColor);
}
.query_box div{
    margin: 1rem;
}
.curr_time{
    font-size: 0.8rem;
}
.query_box div button{
    width: 4rem;
    height: 2rem;
    border-radius: 0.4rem;
    background-color: var(--secColor);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;

}
.askQuery{
    background-color: #202020;
    padding: 1rem 0.5rem ;
    border-radius: 0.3rem;

}
.query_box button:hover{
    border-radius: 1rem;
}

.replies-div{
    display: flex;
}
.replies-div input{
    margin: 0 0.5rem;
    width: 4rem;
    height: 1.3rem;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: rgb(0,0,0,0.5);
}


.replySection{
    padding: 1rem;
}
.replySection a{
    width: 8rem;
    text-decoration: none;
}
.replyBtn{
    width: 6rem;
    height: 1.4rem;
    background-color: var(--boxColor);
    margin:0 ;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer; 
    transition: 0.5s ease ; 
}

/* -------(ask ai css)------------------ */

.askAi{
    padding:2rem 1rem;
    border: 1px solid #272727;
    width: 70%;
    box-sizing: border-box;
}
.askAi button{
    margin-top: 2rem ;
    width: 5rem;
    background-color: var(--secColor);
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
@media (max-width:800px) {
    .replyPopup{
        width: 60%;
    }
    .replyPopup form input,.replyPopup form textarea{
        width: 80%;
    
    }
}
@media (max-width:580px) {
    .chat_inp{
        width: 90%;
    }
    .chat_box{
        width: 100%;
    }
    .query_box{
        width: 100%;
    }
    .curr_time{
        font-size: 0.5rem;
    }
    .replyPopup{
        width: 80%;
    }
    .replyPopup form input,.replyPopup form textarea{
        width: 80%;
    
    }
    
    
}