.maincreateBlog{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    color: #fff;
}
.maincreateBlog form{
    padding: 1rem;
    width: 50%;
    background-color: #272727;
}
.maincreateBlog form div{
    padding: 1rem;
   
}
.maincreateBlog div input{
    width: 100%;
    height: 2rem;
    background-color: #181818;
     border: none;
    color: #fff;
    box-sizing: border-box;
    padding: 0 1rem;
}
.maincreateBlog div textarea{
    width: 100%;
    background-color: #181818;
    color: #fff;
    box-sizing: border-box;
    padding: 1rem;
}
.maincreateBlog div button{
   
}

@media (max-width:950px){
    .maincreateBlog form{
       width: 65%;
    }
}

@media (max-width:650px){
    .maincreateBlog form{
       width: 85%;
    }
}