@import 'home.css';
main{
    padding: 1rem 0;

}
.dietSearch{
    width: 100%;
    height: 10rem;

}
.dietSearch div{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dietSearch div input{
    width: 70%;
    height: 2rem;
    margin: 1rem;
}
.dietSearch div button{
    width: 5rem;
    height: 2.3rem;
    background-color: var(--secColor);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

}
.dietSearch div button:hover{
    transform: scale(1.1);
}
.caloriesChart{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.caloriesChart div{
    /* border: 1px solid var(--secColor) ; */
    border-radius: 1rem;
    width: 80%;
    margin: 1rem;

}
.claoriesDiv1 h1{
    text-align: center;
    padding-top: 0.5rem  ;
    font-size: 1.5rem;
    color: #fff;
    height: 2.4rem;
    background-color: var(--secColor);
    
}
.claoriesDiv1 table{
   
    width: 100%;
    padding: 0.4rem;
    

}

.dietTable tr {
    height: 2.2rem;
    border-radius: 1rem;
}
.dietTable{
    width: 80%;
    background-color: var(--boxColor);
    color: #fff;
}
.caloriesGraph{
    width: 100%;
    height: 20rem;
    border: 2px solid red;
    margin: 1rem 0;

}
