@import "footer.css";

body {
  font-family: Arial;
  margin: 0;
}

:root {
  --btnWidth: 6rem;
  --btnHeight: 2rem;
  --btnBgcolor: #12486B;
  --primColor: #fff;
  --secColor:#FD643D;
  --bgColor:#111;
  --boxColor:#272727;

}
body{
  background-color: var(--bgColor);
}
.signupBtn{
  height: 2rem;
  cursor: pointer;
  position: relative;
  right: 1rem;
  width: 5rem;
  border-radius: 0.4rem;
  background-color: var(--secColor);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}
.signupBtn:hover{
  background-color: var(--bgColor);
  color: var(--primColor);
  border:2px solid var(--secColor);
}
.navbar {
  /* background-color: hsl(212, 17%, 85%); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  /* position: fixed; */
  width: 100%;
  height: 3rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {

  font-weight: bold;
  color: #ECF0F1;
  display: flex;
  height: 100%;
  align-items: center;
}

.logo img {
  margin: 0 1rem;
  width: 8.5rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  display: flex;
  align-items: center;
}
.close_btn{
   display: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  /* color: #ECF0F1; */
  text-decoration: none;
  font-size: 1.1em;
  color: var(--primColor);
}

.nav-links a:hover,
#mySidebar a:hover {
  color: var(--secColor)
}

#sidebarBtn {
  display: none;
  margin-right: 1.5rem;
  background-color: var(--bgColor);
  border: none;
  
}
#sidebarBtn i{
  color: #fff;
  font-size: 1.2rem;
}

#mySidebar {
  display: none;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  min-width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 1s;
}

#mySidebar a {
  text-decoration: none;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

#mySidebar button {
  background-color: var(--secColor);
  height: 2.6rem;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0.4rem;
  font-size: 1.2em;
}


#slider_section {
  background-image: url(https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8eW9nYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
  /* Add your background image URL */
  background-size:contain;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: slider 20s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url('/assets/slideImg1.jpg');
    background-size: 100% 100%;
  }

  16% {
    background-image: url('/assets/slideImg1.jpg');
    background-size: 100% 100%;
  }
  32% {
    background-image: url('/assets/slideImg2.jpg');
    background-size: 100% 100%;
  }

  48% {
    background-image: url('/assets/slideImg2.jpg');
    background-size: 100% 100%;
  }

  63% {
    background-image: url('/assets/slideImg3.jpg');
    background-size: 100% 100%;
  }

  79% {
    background-image: url('/assets/slideImg3.jpg');
    background-size: 100% 100%;
  }

  100% {
    background-image: url('/assets/slideImg1.jpg');
    background-size: 100% 100%;
  }

}

.slider_div p {
  font-size: 1rem;
  margin-bottom: 80px;
}
.slider_div h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.feature_sec {
  width: 100%;
  padding: 3rem 0;
  color: var(--primColor);


}

.feature_sec h1 {
  text-align: center;
}

.feature_cont {

  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.feature_div {
  width: 20rem;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--boxColor);
  /* border: 2px solid rgba(0,0,0,0.3); */
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;

}

.feature_div:hover {
  transform: scale(1.05);
}

.feature_div .div1 {
  height: 60%;
}

.feature_div .div1 img {
  width: 100%;
  height: 100%;
}

.feature_div .div2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}
.div_detail{
  width: 75%;
  position: absolute;
  top: 30%;
  background-color: var(--secColor);

  transform: translateZ(20px) scaleY(0);
  transition: 0.5s;
  transform-origin: top;
  padding: 2rem 1rem;
}
.feature_div:hover .div_detail{
  transform: translateZ(20px) scaleY(1);

}

.feature_div .div2 button {
  width: var(--btnWidth);
  height: var(--btnHeight);
  cursor: pointer;
  background-color: var(--secColor);
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
  filter: drop-shadow(
    0px 10px 25px rgba(0,0,0,0.5)
  );

}



#element {
  color: #78D6C6;
  font-size: 5rem;
}

.bmi-span {
  color:var(--bgColor);
}

.bmiSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primColor);
  
}
.bmi-wrapper {
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  box-shadow:-1px 1px 5px rgba(0,0,0,0.4);
  background-color: var(--boxColor);
}

.bmi-input {
 
  padding: 0.5rem;
  width: 90%;
}

.bmi-button {
  background-color: var(--secColor);
  width: var(--btnWidth);
  height: 2.5rem;
  border: none;
  color: #fff;
  display: block;
  border-radius: 0.4rem;
  cursor: pointer;
}

.bmi-button:hover {
  transform: scale(1.04);
  
}

#home-output {
  
   padding: 1rem;
   border-radius: 0.5rem;
}


/* ********************((media queries))********************/

@media screen and (max-width:800px) {
    .container {
       /* display: block; */

    }
    .nav-links{
      display: none;
      position: fixed;
      right: 0;
      width: 40%;
      background-color: #272727;
      top: 0;
      height: 100vh;
      padding: 1rem;
      z-index:2;
    }
    .nav-links li{
      margin-top: 2.2rem;
    }
    .authBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      /* border: 2px solid; */
      padding: 0;
    }
    .authBtn button{
      margin-bottom: 1rem;
    }
    #sidebarBtn{
      display: flex;
    }
    .close_btn{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2rem;
      background-color: var(--secColor);
      color: #fff;
      font-weight: bold;
      border: none;
      letter-spacing: 0.3rem;
    }
    .logo img {
      width: 7rem;
  
    }
}
@media screen and (max-width:480px) {

  #slider_section{
    height: 65vh
  }
  .slider_div h1 {
    font-size: 1.6rem;
  }
  .logo img {
    width: 5.5rem;

  }
  .feature_div {
  
  }
}
