@import "footer.css";

body {
  font-family: Arial;
  margin: 0;
}

:root {
  --btnWidth: 6rem;
  --btnHeight: 2rem;
  --btnBgcolor: #12486B
}
.signupBtn{
  height: 2rem;
  cursor: pointer;
  position: relative;
  right: 1rem;
  width: 5rem;
  border-radius: 0.4rem;
  background-color: var(--btnBgcolor);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}
.signupBtn:hover{
  background-color: #fff;
  color: black;
  border:2px solid #12486B;
}
.navbar {
  /* background-color: hsl(212, 17%, 85%); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  /* position: fixed; */
  width: 100%;
  height: 3rem;


  display: flex;
  margin-bottom: 0.5rem;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {

  font-weight: bold;
  color: #ECF0F1;
  display: flex;
  height: 100%;
  align-items: center;
}

.logo img {
  margin: 0 1rem;
  width: 5.5rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  /* color: #ECF0F1; */
  text-decoration: none;
  font-size: 1.1em;
  /* color: #fff; */
}

.nav-links a:hover,
#mySidebar a:hover {
  color: #12486B
}

#sidebarBtn {
  display: none;
  margin-right: 1.5rem;
  background-color: white;
  border: 1px solid black;
}

#mySidebar {
  display: none;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  min-width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 1s;
}

#mySidebar a {
  text-decoration: none;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

#mySidebar button {
  background-color: #12486B;
  height: 2.6rem;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0.4rem;
  font-size: 1.2em;
}


#slider_section {
  background-image: url(https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8eW9nYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
  /* Add your background image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: slider 20s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url('/assets/slideImg1.jpg');
    background-size: 100% 100%;
  }

  16% {
    background-image: url('/assets/slideImg1.jpg');
    background-size: 100% 100%;
  }
  32% {
    background-image: url('/assets/slideImg2.jpg');
    background-size: 100% 100%;
  }

  48% {
    background-image: url('/assets/slideImg2.jpg');
    background-size: 100% 100%;
  }

  63% {
    background-image: url('/assets/slideImg3.jpg');
    background-size: 100% 100%;
  }

  79% {
    background-image: url('/assets/slideImg3.jpg');
    background-size: 100% 100%;
  }

  100% {
    background-image: url('/assets/slideImg1.jpg');
    background-size: 100% 100%;
  }

}

.slider_div p {
  font-size: 1.5em;
  margin-bottom: 80px;
}

.feature_sec {
  width: 100%;
  padding: 3rem 0;


}

.feature_sec h1 {
  text-align: center;
}

.feature_cont {

  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.feature_div {
  width: 20rem;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  /* border: 2px solid rgba(0,0,0,0.3); */
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.feature_div:hover {
  transform: scale(1.05);
}

.feature_div .div1 {
  height: 60%;
}

.feature_div .div1 img {
  width: 100%;
  height: 100%;
}

.feature_div .div2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}

.feature_div .div2 button {
  width: var(--btnWidth);
  height: var(--btnHeight);
  cursor: pointer;
  background-color: var(--btnBgcolor);
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;

}



#element {
  color: #78D6C6;
  font-size: 5rem;
}

.bmi-span {
  color: rgb(221, 86, 86);
}

.bmiSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-wrapper {
  padding: 15px;
  width: 70%;
  border-radius: 5px;
  box-shadow:-1px 1px 5px rgba(0,0,0,0.4);
}

.bmi-input {
  margin: 0 2.4rem;
  padding: 0.5rem;
  width: 20rem;
}

.bmi-button {
  background-color: #12486B;
  width: var(--btnWidth);
  height: 2.5rem;
  border: 0.2rem solid white;
  color: #fff;
  display: block;
  border-radius: 0.4rem;
  cursor: pointer;
}

.bmi-button:hover {
  transform: scale(1.04);
  
}

#home-output {
  
   padding: 1rem;
   border-radius: 0.5rem;
}


/* ********************((media queries))********************/

@media screen and (max-width:480px) {
  .nav-links {
    display: none;
  }

  #sidebarBtn {
    display: flex;
  }
}
