@import 'home.css';


.login_sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primColor);
}
.login_sec h3{
    background-color:rgb(241, 99, 99);
    padding: 1rem;
    width: 50%;
    border-radius: 0.5rem;
   

}
.login_sec form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border:1px solid rgba(0,0,0,0.3);
    height: 16rem;
    padding:3rem 1rem;
    background-color: var(--boxColor);
}

.login_sec form input{
    width: 80%;
    height: 1.8rem;
    outline: none;

}

.login_sec form button{
    width: var(--btnWidth);
    background-color: var(--secColor);
    color: #fff;
    height: 2rem;
    cursor: pointer;
    border: none;
}
.login_sec form button:hover{
    background-color: var(--bgColor);
    border: 2px solid var(--secColor);
}

@media (max-width:720px){
    .login_sec form{
        width: 70%;
    }
}

@media (max-width:480px){
    .login_sec form{
        width: 80%;
        border-radius: 1rem;
    }
}