@import 'home.css';
@import 'chat.css';
.replyPageSec{
    
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primColor);
    
}
.replyPageSec div{
    /* box-shadow: -3px 3px 5px rgba(0,0,0,0.3); */
    border-radius: 1rem;
    width: 70%;
}
.replyPageSec ul{
    margin: 1rem;
    border: 1px solid var(--secColor);
    border-radius: 0.5rem;
    padding: 0.5rem;
    

}
.replyPageSec ul h3{
    margin: 1rem;

}
.replyPageSec ul li{
    background-color:var(--boxColor);
    padding: 1rem 0.5rem;
   margin: 1rem;
   border-radius: 0.5rem;
   list-style: none;
   font-size: 1rem;

}
.replyPageSec ul button{
    margin: 0 1rem ;
    cursor: pointer;
    width: 4rem;
    border: none;
    height: var(--btnHeight);
    background-color: var(--secColor);
    color: #fff;
   border-radius: 0.5rem;

}

@media (max-width:600px){
    .replyPageSec div{
        width: 95%;
    }
}