@import 'home.css';


.signup_sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primColor);
}
.signup_sec form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border:1px solid rgba(0,0,0,0.3);
    height: 20rem;
    padding: 1rem;
    background-color: var(--boxColor);
}

.signup_sec form input{
    width: 80%;
    height: 2rem;
    border: none;
    outline: none;
}

.signup_sec form button{
    width: var(--btnWidth);
    background-color: var(--secColor);
    color: #fff;
    height: 2rem;
    cursor: pointer;
    border: none;
}
.signup_sec form button:hover{
    border: 2px solid var(--secColor);
    background-color: var(--bgColor);
}